<header class="display-4 text-center text-light bg-primary p-3">
    <div>Países del mundo</div>
</header>
<nav class="navbar navbar-expand navbar-light bg-primary mb-4">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link" href="#"><i class="bi bi-house"></i> Inicio </a>
            <a class="nav-link" href="#"><i class="bi bi-question-square"></i> Ayuda </a>
            <a class="nav-link" href="#"><i class="bi bi-gear"></i> Configuración </a>
        </div>
    </div>
</nav>