<div id="buscador" class="row m-5">
    <div class="col-8">
        <select class="form-select form-select-lg" >
            <option value="africa">África</option>
            <option value="americas">América</option>
            <option value="asia">Ásia</option>
            <option value="europe">Europa</option>
            <option value="oceania">Oceanía</option>
        </select>
    </div>
    <div class="col text-end" role="group">
        <button class="btn btn-outline-primary btn-lg me-3" >
            <span><i class="bi bi-download"></i> Descargar</span>
        </button>
    </div>
</div>

<!--Listado de países por región-->
<div id="informacion" class="m-5">
    
    <!--Mostrar solo si... está descargando paises-->
    <div class="text-center mb-5">
        <div class="spinner-border indicador" role="status">
            <span class="visually-hidden">Obteniendo información...</span>
        </div>
    </div>
    
    <!--Mostrar solo si... la tabla está vacía-->
    <div class="alert alert-info">
        <span>Selecciona una región y pulsa descargar</span>
    </div>
    
    <!--Mostrar solo si... hay países que mostrar-->
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th>Área</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!--Aquí deberíamos repetir el tr tantas veces como paises tengamos-->            
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <!--Aquí se deberían mostrar estos valores.-->
                    <td>
                        <span class="fs-4 badge bg-info">numeroTotaldePaises</span>
                    <td>
                        <span class="fs-4 badge bg-info">númeroTotaldeHabitantes</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!--fin tabla-->

</div>
<!--fin información-->